.cm-header-1 {
font-size: 19px;
color: #6363FF	
}
.cm-header-2 {
color: #ADAD00
}
.cm-header-3 {
color: #008080
}
.cm-header-4 {
color: #82FF82
}
.cm-header-5{
color: #FFFF6E
}
.cm-header-6 {
color: #FFD382
}


/*https://zhuanlan.zhihu.com/p/373888121*/

/*color table  ---  https://www.wibibi.com/info.php?tid=372*/